
* {
  box-sizing: border-box;;
}

text {
  white-space: normal;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  overflow-x: hidden;
}

.app {
  position: relative;
  width: 100%;
  background-image: url(./img/bg.gif);
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
}

.app > h1 {
  color: white;
}

header {
  z-index: 99999999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.show-strip {
  background-color: #ffbfbf;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 100px;
  padding: 5px;
}

.show-strip-text {
  font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
  color: #ffffff;
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none !important;
}

ul.menu {
  list-style-type: none;
  display: inherit;
}

.header-logo {
  background-image: url(./img/future_sticky_u1.png);
  background-size: contain;
  width: 300px;
  background-repeat: no-repeat;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

button.hamburger-button {
  background: none;
  right: 15px;
  position: absolute;
  margin-right: 1vw;
  margin-bottom: auto;
  color: white;
  border: 0;
  font-size: 9vw;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 999999;
  float: right;
}

.mobile-menu {
  display: none;
}

.mobile-menu li {

}

button.hamburger-button:focus .mobile-menu {
  display: block;
}

.hamburger-menu-list {
  z-index: 999999 !important;
  margin-top: 15vw;
  font-weight:bold;
  font-size: 3vw;
  width: 50%;
  background: rgba(251,210,200,0.8);
  font-family: Didot bold;
  display: block;
  text-align: center;
  float: right;
}
.hamburger-menu-list ul {
  list-style-type: none;
  list-style-image: none;
  color: white;
  background-color: black;
  padding: 1vw;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 99999;
  margin-top: 100px;
  height: 100%;
}
.hamburger-menu-list li {
  display: block;
  height: 14%;
  color: black;;
  padding: 3vw;
  z-index: 99999;
}
.hamburger-menu-list ul li a {
  text-decoration: none;
  color: white;
  opacity: 1.0;
  margin-top: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.hamburger-menu-list ul li a:hover {
  color: white;
  text-decoration:none;
  opacity: 1.0;
}
.hamburger-menu-list a{
  text-decoration:none;
  color: white;
  opacity: 1.0;
}
.hamburger-menu-list a:hover{
  text-decoration:none;
  color: white;
  opacity: 1.0;
}

.header-ticket {
      font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
      color: #ffffff;
      float: right;
      display: inline-block;
      text-decoration: none;
      font-size: 2em;
      margin-left: 10px;
      margin-right: 30px;
}

a.header-ticket:hover {
  color: #ffbfbf;
}

.header-merch {
      font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
      color: #ffffff;
      display: inline-block;
      text-decoration: none;
      font-size: 2em;
      margin-right: 30px;
      margin-left: 10px;
}

a.header-merch:hover {
  color: #ffbfbf;
}

.header-press {
      font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
      color: #ffffff;
      display: inline-block;
      text-decoration: none;
      font-size: 2em;
      margin-right: 30px;
      margin-left: 10px;
}

a.header-press:hover {
  color: #ffbfbf;
}

.header-vids {
      font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
      color: #ffffff;
      display: inline-block;
      text-decoration: none;
      font-size: 2em;
      margin-right: 30px;
      margin-left: 10px;
}

a.header-vids:hover {
  color: #ffbfbf;
}

.header-past-shows {
      font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
      color: #ffffff;
      display: inline-block;
      text-decoration: none;
      font-size: 2em;
      margin-right: 50px;
      margin-left: 10px;
}

a.header-past-shows:hover {
  color: #ffbfbf;
}

.header-phone {
      font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
      color: #ffffff;
      display: inline-block;
      text-decoration: none;
      font-size: 2em;
      margin-right: 30px;
      margin-left: 10px;
}

a.header-phone:hover {
  color: #ffbfbf;
}

.video-player {
  margin-top: 15vw;
}

.vid-div {
  margin-top: 40px;
  margin-left: 40px !important;
  margin-right: 40px !important;
  text-align: center;
  float: none;
  display: inline-block;
}

.clips-one {
  margin-top: 20vw !important;
}

.clips-last {
  margin-bottom: 40vw;
}

.clips-div {
  float: none;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.landing {
  padding: 15px 30px;
  border-radius: 5px;
}

.landing > h1 {
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
}

.landing > input, .landing > form > input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.landing > form {
  width: 100%;
  min-width: 300px;
}

.landing > a {
  margin-top: 15px;
  padding: 10px 40px;
  background-color: #333;
  color: #fafafa;
  border-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-radius: 4px;
}

.landing > a:hover, .landing > a:focus {
  background-color: #666;
}

.landing > a:active {
  background-color: #fafafa;
  color: #333;
  border-color: #333;
}

.about {
  background-color: rgba(250,250,250, 1.0);
  width: 60%;
  padding: 20px;
  font-family: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight: 200;
  font-style: normal;
  font-size: 22px;
  line-height: 34px;
  margin-top: 60px;
  float: none;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 200px;
}

.top-border {
  margin-left: 5px;
  position: absolute;
  top: 10px;
  left: 2px;
}

.lower-border {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-right: 5px;
  position: absolute;
  bottom: 10px;
  right: 2px;
}

.about-text {
  margin-top: 30px;
  text-align: left;
  margin-left: 30px;
  margin-right: 13px;
}

.details, .search {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  background-color: rgba(220, 220, 220, .8);
  padding: 15px 30px;
  border-radius: 5px;
}
.about-border {
  width: 98%;
  height: 98%;
  margin-left: auto;
  margin-right: auto;
  border: #bfffce solid 3px;
}

.team {
  background-color: #bfffce;
  padding: 20px;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 200px
}

.team-top-border {
  position: absolute;
  margin-top: -7px;
  left: 15px;
}

.team-bottom-border {
  position: absolute;
  bottom: 10px;
  right: 15px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.team-logo {
  background-image: url(/img/u42.gif);
  background-repeat: no-repeat;
  z-index: 999;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 44%;
  -ms-transform: rotate(335deg);
  -webkit-transform: rotate(335deg);
  transform: rotate(335deg);
}

.team-text {
  font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
  position: relative;
  top: 25%;
  right: 21%;
  -ms-transform: rotate(-335deg);
  -webkit-transform: rotate(-335deg);
  transform: rotate(-335deg);
  font-weight: 900;
  font-style: normal;
  font-size: 34px;
  color: #1B1B1B;
  line-height: 30px;
}

.team-background {
  background-color: rgb(191, 255, 206);
  height: auto;
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.team-border {
  background-color: #fff;
  height: auto;
  width: 90%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.phone-number {
  font-family: 'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
}

footer {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
}

.footer-logo {
  background-image: url(./img/u46.png);
}

.footer-log:hover {
  background-image: url(./img/u46_mouseOver.png);
}

.footer-social-ig {
  background-image: url(./img/u46.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-ig:hover {
  background-image: url(./img/u46_mouseOver.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-fb {
  background-image: url(./img/fb.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-fb:hover {
  background-image: url(./img/fb_over.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-yt {
  background-image: url(./img/yt.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-yt:hover {
  background-image: url(./img/yt_over.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-twit {
  background-image: url(./img/twitter.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.footer-social-twit:hover {
  background-image: url(./img/twitter_over.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 40px;
  z-index: 9999;
  height: 40px;
  width: 40px;
}

.press-page {
  text-align: center;
}
.press-div {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  position: relative;
  width: 80%;
  padding: 20px;
  text-align: left;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

h3.press {
  font-family: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  white-space: pre;
}

h1.press {
  font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
  font-weight: 200;
  font-size: 28px;
  margin-top: 0px;
  margin-left: 30px;
}

a.press {
  font-family: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #ffbfbf;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  display: block;
}

p.press {
  font-family: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin-left: 30px;
  margin-right: 30px;
}
.press-top-border {
  margin-left: 5px;
  position: absolute;
  top: 10px;
  left: 2px;
}

.press-lower-border {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  margin-right: 5px;
  position: absolute;
  bottom: 10px;
  right: 2px;
}
.press-photo {
  width: 300px;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
}

.press-one {
  margin-top: 15vw;
}

.press-last {
  margin-top: 15vw;
  margin-bottom: 15vw !important;
}

.press-two {
  margin-top: 80px;
}

.press-three {
  margin-top: 80px;
}

.press-four {
  margin-top: 80px;
  margin-bottom: 20vw;
}

.press-five {
  margin-top: 80px;
}

.press-six {
  margin-top: 80px;
  margin-bottom: 20vw !important;
}

.six-winner {
  margin-top: 60px !important;
}
.hof-div {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
  float: none;
  margin-right: auto;
  margin-left: auto;
}

h1.hof {
  font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
  font-weight: 200;
  font-size: 28px;
  margin-top: 0px;
  margin-left: 30px;
  text-align: center;
}

h1.clip-header {
  font-family: 'HelveticaNeue-CondensedBlack', 'Helvetica Neue Condensed Black', 'Helvetica Neue';
  font-weight: 200;
  font-size: 28px;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
}

.hof-photo {
  width: 200px;
  height: auto;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}



ul {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  padding: 0px;
}

li h1 {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin-top: 20px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 0px;
}

li h2 {
  font-family: 'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  margin-top: 3px;
  margin-bottom: 40px;
}

li {
  text-decoration: none;
}
pre {
  text-align: left;
}

.search > div > a {
  width: 30%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 3%;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  text-decoration: none;
}

.search > div > a {
  width: 100%;
  padding-bottom: 70%;
  height: 0;
  overflow: inherit;
  margin-bottom: inherit;;
  border: none;
  border-radius: inherit;
}

.show-card {
  float: left;
  margin-right: 2%;
  border: 2px solid #333;
  border-radius: 4px;
  text-align: left;
  width: 32%;
  height: 0;
  padding-bottom: 19.8%;
  overflow: hidden;
  margin-bottom: 2%;
}

.show-card:nth-child(3n), .search > div > a:nth-child(3n) > .show-card {
  margin-right: 0;
}

.show-card > img {
  width: 46%;
  float: left;
}

.show-card > div{
  display: block;
  float: right;
  width: 52%;
  overflow-y: scroll;
}

.show-card > div > h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.show-card > div > h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  font-size: 13px;
}

.show-card > div > p {
  margin: 0;
  font-size: 13px;
}

.search > header + div {
  margin-top: 25px;
}

header > h1 {
  font-family: Helvetica;
  font-weight: normal;
  color: #000;
  margin: 0;
}

header > h1 > a {
  color: #000;
  text-decoration: none;
}

header > h2 {
  font-weight: normal;
  margin: 0;
}

header > h2 > a {
  color: #aaa;
  text-decoration: none;
}

.details > div {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.details > div > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.details > section > img, .details > section > h3 {
  width: 8%;
}

.details > section > img[alt] {
  -webkit-animation: spin 4s infinite linear;
  -moz-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.details > section > * {
  margin: 0 1%;
}

.details > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.details > header + section {
  margin-top: 25px;
}

@media (max-width: 800px) {
  .video-player {
    margin-top: 30vw;
    width: 100%;
  }

  h1.clip-header {
    font-size: 28px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }

  .press-top-border {
    display: none;
  }

  .press-lower-border {
    display: none;
  }

  .about {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 200px;
  }

  .team-logo {
    width: 100%;
    left: 20%;
  }

  .team-text {
    right: 16%;
  }

  .hof-div {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .team {
    width: 100%;
  }

  .phone-number {
    display: none;
  }

  .press-one {
    margin-top: 180px;
    width: 100%;
  }

  .press-two {
    width: 100%;
  }

  .press-three {
    width: 100%;
  }

  .press-four {
    width: 100%;
    margin-bottom: 160px;
  }

  .press-five {
    width: 100%;
  }

  .press-six {
    width: 100%;
    margin-bottom: 40vw !important;
  }

  .vid-div {
    margin-top: 60px;
  }

  .show-strip {
    height: auto;
  }

  .show-strip-text {
    font-size: 1.3em;
  }

  .hof-photo {
    width: 160px;
    margin: 0px;
  }

  .press-last {
    margin-top: 30vw;
    margin-bottom: 40vw !important;
  }
}
